<div class="container login-container" style="max-width: 500px;">
    <div class="text-center mb-4"> <img src="../../../assets/images/tcs_logo.png" alt="Logo" style="width: 100px;">
    </div>
    <div class="mb-3"> 
        <label for="name" class="form-label">Name</label> 
        <input type="text"
        class="form-control" id="name" aria-describedby="nameHelp"> </div>
        <div class="mb-3"> <label for="email" class="form-label">Email address</label> <input type="email"
            class="form-control" id="email" aria-describedby="emailHelp"> </div>
    
    <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <input type="password" class="form-control" id="password">
    </div>
    <div class="mb-3">
        <label for="confirmpassword" class="form-label">Confirm Password</label>
        <input type="confirmpassword" class="form-control" id="confirmpassword">
    </div>
    <button type="submit" class="btn btn-primary w-100 mb-3">Register</button>
    <div class="mb-3 d-flex flex-row justify-content-between">
        <a ></a>
        <a routerLink="../login">Back to login</a>
    </div>
</div>