<div [ngClass]="darkMode ? 'dark-mode' : 'light-mode'">
    <nav class="d-none d-md-block navbar navbar-expand-sm">
        <div class="container-fluid">
            <div class="d-flex flex-row align-items-center">
                <img src='../../assets/images/tcs_logo.png' style="max-width: 85px;">
                <span class="text-danger shopname ms-3 ">The Madras Silks</span>
            </div>
            <div class="d-flex justfy-content-evenly">
                <h4 class="me-3" *ngFor="let item of menuList">{{item.MENUNAME}}</h4>
            </div>
            <div>
                <button class="theme-toggle-button"><i class="bi bi-brightness-high" *ngIf="darkMode"></i><i
                        class="bi bi-moon" *ngIf="!darkMode"></i></button>
            </div>

        </div>
    </nav>
    <div class="d-block d-md-none">
        <button class="btn btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample"
            aria-controls="offcanvasExample">
            <i class="bi bi-list"></i>
        </button>
        <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample"
            aria-labelledby="offcanvasExampleLabel">
            <div class="offcanvas-header">
                <h5 class="offcanvas-title" id="offcanvasExampleLabel"><img src='../../assets/images/tcs_logo.png'
                        style="max-width: 55px;">
                    <span class="text-danger shopname ms-3 ">The Madras Silks</span>
                </h5>
                <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas"
                    aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
                <h4 class="me-3" *ngFor="let item of menuList">{{item.MENUNAME}}</h4>
            </div>

        </div>
    </div>
    <div class="container-fluid">
        <div class="row maincontent">
            <aside class="col-12 col-md-2 d-none d-md-block">
                <h4 class="mb-3" *ngFor="let item of menuList"><i class='{{item.MENUICON}} me-2'></i>{{item.MENUNAME}}
                </h4>
            </aside>
            <div class="col-12 col-md-9" [class.dark-mode]="darkMode">
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</div>
<app-footerbottom></app-footerbottom>