.shopname {
    font-family: Freehand471 BT;
    font-size: 16px;
  }

.navbg{
    background:linear-gradient(-90deg,rgba(241, 184, 184, 0.849),rgba(104, 104, 151, 0.747));
}

.footerbg{
    background:linear-gradient(-90deg,rgba(147, 152, 160, 0.849),rgba(90, 97, 96, 0.747));
}

.maincontent{
    min-height: 100vh;
    height: 100%;
}